html{
    height: 100%;
}

body {
    background-color: rgb(167, 167, 167);
    height: 100%;
    margin: 0;
}

/* styles for main-section */

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* styles fo title-section in main */

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    background-color: rgb(34, 34, 34);
}

#title h1 {
    margin: 0;
    color: goldenrod;
    font-size: 3rem;
    font-family: 'VT323',monospace;
}

#title h2 {
    margin: 0;
    color: azure;
    font-style: italic;
    font-size: 2rem;
}

/* styles for middle-section in main */

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

/* styles for game-section in middle */

#game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0;
}

#score{
    font-family: 'VT323',monospace;
    font-size: 4rem;
    color: azure;
    text-align: center;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.button{
    flex: 1;
    max-width: 180px;
    padding: 0;
    border: 4px solid azure;
    border-radius: 6px;
    opacity: 0.9;
    transition-duration: 0.3s;
}

.button:hover{
    border: 4px solid goldenrod;
    opacity: 1;
    box-shadow: 4px 10px 10px rgb(34, 34, 34);
    cursor: pointer;
}

.sign:hover{
    color: goldenrod;
}

.sign {
    flex: 1;
    font-size: 8rem;
    padding: 1rem;
    outline: none;
    color: azure;
    background-color: rgb(34, 34, 34);
}

/* styles for rules-section in middle */

#rules {
    align-self: flex-end;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    flex: 0 1 auto;
    padding: 1rem;
    margin: 0;
    background-color: rgb(34, 34, 34);
    color: azure;
    font-size: 1.2rem;
}

#rules h2 {
    color: goldenrod;
    font-size: 2rem;
}

#rules ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* styles for footer-section */

#footer {
    flex: 1;
    text-align: end;
    margin-bottom: 0px;
    background-color: rgb(34, 34, 34);
    color: azure;
}